:root {
    --bg-gradient: radial-gradient(circle, rgba(19,25,43,1) 17%, rgba(4,8,20,1) 100%);
    --fg-primary: #FFFFFF;
    --bg-secondary: #1E2631;
    --bg-btn: #185DE3;
    --fg-secondary: #b6b6b6;
  
    --font-size: 16px;
    --font-size-title: calc(var(--font-size) * 2);
    --font-size-subtitle: calc(var(--font-size) * 1.25);
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-size: var(--font-size);
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background: var(--bg-gradient);
  }

  p, button, textarea {
    color: var(--fg-primary);
  }
  
  .container {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  /* HEADER */
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
  }
  
  .header__title {
    color: var(--fg-primary);
    font-size: var(--font-size-title);
  }
  
  .header__icon-link {
    fill: var(--fg-primary);
  }
  
  .header__icon-link:hover {
    opacity: 0.9;
  }
  
  .icon {
    width: 32px;
    height: 32px;
  }

  /* MAIN */

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    gap: 24px;
    justify-content: center;
  }
  
  .main__top {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
  }
  
  .left-side, .right-side {
    background-color: var(--bg-secondary);
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
  }
  
  .main__top__from, .main__top__to {
    display: grid;
    place-content: center;
  }
  
  .main__top__from__title, .main__top__to__title {
    color: var(--fg-primary);
    font-weight: 500;
    width: 100%;
    font-size: var(--font-size-subtitle);
  }
  
  .button {
    background-color: var(--bg-btn);
    padding: 16px 52px;
    border-radius: 10px;
    outline: none;
    border: none;
  }
  
  .button:hover {
    filter: opacity(0.9);
    cursor: pointer;
  }
  
  .button-icon {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .button-icon:hover {
    transform: scale(1.2);
    transition: transform ease 0.25s;
  }
  
  .main__bottom {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  
  .main__bottom__left, .main__bottom__right {
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }
  
  .main__bottom__left__actions, .main__bottom__right__actions {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 35px;
    right: 35px;
  
  }
  
  .main__top__from, .main__top__to {
    color: var(--fg-secondary);
  }
  
  .main__bottom__left > p, .main__bottom__right > p {
    font-size: var(--font-size-subtitle);
    color: var(--fg-secondary);
  }
  
  textarea {
    width: 100%;
    resize: none;
    height: 100%;
    min-height: 200px;
    background-color: transparent;
    border: none;
    outline: 0;
    text-transform: lowercase;
    scrollbar-width: none;
  }